*, *::before, *::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

:root {
  --primary: #4f46e5;
  --text: white;
  --background: black;
}



body{
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

section {
  margin-bottom: 40px;
}

header {
  margin-bottom: 40px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 25px;
}




h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

p{
    font-size: 1em;
}

a{
    color: cyan;
}

a:hover{
    color: rgb(145, 255, 0);
}

a:active{
    color: rgb(255, 177, 33);
}

img{
    border-radius: 50%;
}

#skills{
    box-shadow: var(--text) 0px 1px 4px, var(--text) 0px 0px 0px 3px;
    padding: 30px;
    border-radius: 25px;
}

.btn{
    background-color: var(--primary);
    border-radius: 10px;
    color: var(--text);
    border: none;
    padding: 5px;
    transition: opacity 0.3s ease;
}

.btn:hover{
    opacity: 0.6;
}

.btn:active{
    opacity: 0.3;
}